*{
    margin: 0;
    padding: 0;
}
body, html {
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}
/*Modulo de Regitrar nuevo Usuario*/
body {
    background-color: #f9ecc9;
    display: flex;
    align-items: center;
	justify-content: center;
}
.imagen {
    display: flex;
    align-items: center;
	justify-content: center;
}
img{
    width: 35%;  
}
.containeregistro {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 350px;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;
    box-sizing: border-box;
    padding: 20px 30px;
}
h3 {
    text-transform: uppercase;
	color:black;
	text-align: center;
	font-size: 25px;
}
label {
    color: black;
    display: block;
    text-align: center;
    font-size: 18px;
}
.cedula, .nombre, .apellido, .fechan, .direccion, .clave, .tiporol{
    width: 315px;
    height: 30px;
    background-color: #a7cbbc;
    border: none;
    text-align:center;
    outline:none;
    cursor: pointer;
}
.boton {
    width:315px;
    height: 50px;
    font-size: 20px;
    background-color: #ccb99d;
    font-weight: bolder;
    text-align:center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.boton:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}
.inicio{
    margin-top: 25px;
    color: black;
    padding-inline: 130px;
    text-transform: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
