* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}
/*Contenedor principal - estructura del login*/
body {
  background-color: #f9ecc9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 45%;
  padding-bottom: 25px;
}
/*Contenedor que muestra y centra la infromacion del login*/
.containerlogin {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Contenedor que centra y da los border al cuadro del login*/
.contenedorlogin {
  width: 350px;
  height: 600px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;
  box-sizing: border-box;
  padding: 20px 30px;
}
/*Titulo de Bienvenido Ingresar*/
h2 {
  color: black;
  text-align: center;
  font-size: 35px;
}
/*Contenedor de infromacion de Usuario y Contraseña*/
.usuario, .pass {
  width: 310px;
  height: 50px;
  background-color: #a7cbbc;
  text-align: center;
  font-size: 20px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}
input::placeholder{
  color:black; 
}
.usuario::placeholder{
  background-image: url(../img/logos/inicio.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 5rem center;
}
.pass::placeholder{
  background-image: url(../img/logos/contrasena.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 4.5rem center;
}
/*Botones de Acceder - Registrar y olvido Contraseña del login*/
.acceder {
  background-color: #ccb99d;
  width: 310px;
  height: 45px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.acceder:hover {
  box-shadow: 3px 3px 22px #ccb99d;
}
.registrar {
  background-color: #ccb99d;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  text-transform:none;
  border-radius: 10px;
  padding: 12px 115px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.registrar:hover {
  box-shadow: 3px 3px 22px #ccb99d;
}
.olvido {
  margin-top: 25px;
  color: black;
  text-transform: none;
  text-decoration: none;
  font-size: 20px;
}
.olvido:hover {
  box-shadow: 3px 3px 22px #ccb99d;
}

/****************************************************************************************/
/*Contenedor de Recuperr contraseña*/
/*Contenedor Principal*/
.containerecuperar {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Contenedor central que muesta los border de toda la informacion*/
.container {
  width: 350px;
  height: 600px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;
  box-sizing: border-box;
  padding: 20px 30px;
}
/*Titulo de los contenedores de recuperar contraseña*/
h4 {
  color:black;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/*Contenedor de la infromacion de recuperar contraseña*/
label {
  color: black;
  display: block;
  text-align: center;
  text-transform: none;
  font-size: 20px;
}
/*Clases del nombre y fehca del recuperar contraseña*/
.name,.date {
  width: 300px;
  height: 40px;
  font-size: 16px;
  background-color: #a7cbbc;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}
/*Clases de roles del login*/
.rol {
  width: 300px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: #a7cbbc;
  text-align: center;
  outline: none;
  cursor: pointer;
}
/*Boton del Registrar y volver del login de Recuperar Contraseña*/
.btn {
  width: 300px;
  height: 50px;
  font-size: 20px;
  background-color: #ccb99d;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}
.volver {
  color: black;
  font-size: 20px;
  margin-right: 15px;
  text-transform: none;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}
.volver:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}

